<a onclick={{action "openTab" tab.tabFile}}>
  <i class="fa fa-window-maximize"></i>
</a>

<a href="{{tab.tabFile}}">
  {{tab.name}}
</a>

{{#bs-modal-simple
  open=showModal
  size='xl'
  title=tab.name
}}
  <pre class="tab-text">{{
    tabContent
  }}</pre>
{{/bs-modal-simple}}
